body,
html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

#maze {
    margin: 0;
    padding: 0;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}

#maze div {
    width: 5vw;
    height: 5vw;
}

#maze div.cross {
    overflow: hidden;
    position: relative;
}

#maze div.cross:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1vw;
    height: 13vw;
    background-color: black;
    content: "";
    display: block;
    transform-origin: 50% 50%;
    transform: rotate(45deg) translateX(-5vw) translateY(-4vw);
    -webkit-transform: rotate(45deg) translateX(-5vw) translateY(-4vw);
    -moz-transform: rotate(45deg) translateX(-5vw) translateY(-4vw);
    -ms-transform: rotate(45deg) translateX(-5vw) translateY(-4vw);
    -o-transform: rotate(45deg) translateX(-5vw) translateY(-4vw);
}

#maze div.cross.anti:after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg) translateX(4.30vw) translateY(-5vw);
    -moz-transform: rotate(-45deg) translateX(4.25vw) translateY(1vw);
    -ms-transform: rotate(-45deg) translateX(4.25vw) translateY(1vw);
    -o-transform: rotate(-45deg) translateX(4.25vw) translateY(1vw);
}